.accelerator-text {
    -fx-graphic: none !important;
}

.input-error {
    -fx-text-inner-color: red;
    -fx-border-color: red;
}

.cell-free {
    -fx-background-color: rgba(0, 255, 0, 0.3);
}

.cell-unavailable {
    -fx-background-color: rgba(255, 0, 0, 0.3);
}

.cell-taken {
    -fx-background-color: rgba(255, 69, 0, 0.3);
}

.cell-old {
    -fx-background-color: rgba(128,128,128, 0.3);
}