.accelerator-text {
	-fx-graphic: none !important;
}

.input-error {
	-fx-highlight-text-fill: red !important;
	-fx-highlight-fill: red !important;
	-fx-border-color: red;
}

.cell-free {
        -fx-background-color: green;
}

.cell-unavailable {
        -fx-background-color: red;
}

.cell-taken {
        -fx-background-color: orangered;
}

.cell-old {
        -fx-background-color: grey;
}